snippet hexlog "Hexagonal Logger Config"
logger:
  global:
    level: debug
    reportCaller: true
    infra: gcp
endsnippet

snippet cb "Standard CB setup" b
circuitbreaker:
  maxConcurrentRequests: 20
  timeout: 1000
  requestVolumeThreshold: 20
  errorPercentThreshold: 50
  sleepWindow: 15000
endsnippet
